<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VILOCK-changepassword</title>
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%
        }

        .nav-wrapper {
            font-family: 'Song Myung', sans-serif;
            padding: 2px;
            height: 200px;
            background-color: #353866;
        }

        .main {
            margin: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            height: 500px;
            text-align: center;
        }

        .title {
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            border-bottom: 1px solid black;
            font-family: 'Lato', sans-serif;
            height: 15%;
        }

        .inputs {
            width: 80%;
            margin: auto;
            vertical-align: middle;
            height: 400px;
            display: flex;
        }

        .inputs>div {
            justify-content: center;
        }

        .footer {
            height: 130px;
            border-top: 1px solid black;
            text-align: center;
            padding: 40px
        }

        .view:hover {
            cursor: pointer;
        }

        #inform {
            font-size: 13px;
        }

        #changepw {
            margin: auto;
            width: 80%
        }

        #gtregister {
            background-color: #AAABD3;
            font-weight: bold
        }

        #newpassword,
        #lastpassword {
            background-color: #353866;
            font-weight: bold;
            padding:0
        }

        #main {
            width: 60%;
            margin: auto;
            height: 85%;
            border-left: 1px solid gray;
            border-right: 1px solid gray;
        }
        .none{
            display:none
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/G-ViLock" class="brand-logo center">VILOCK</a>
        </div>
    </nav>
    <div class="main">
        <div class="title">
            비밀번호 변경
        </div>
        <div class="my-wrapper valign-wrapper center-align" id='main'>
            <form id="changepw" method="POST" action="/login/changepassword">
                <div class="row">
                    <div class="input-field col s12 l12">
                        <input placeholder="아이디를 입력해주시기 바랍니다." id="usedid" type="text" name="userid">
                        <label for="ID">ID</label>
                    </div>
                    <div class="input-field col s10 l11">
                        <input placeholder="사용하던 비밀번호를 입력해주세요" id="usedpassword" type="text" name="usedpassword">
                        <label for="LAST">Last</label>
                    </div>
                    <a class="waves-effect waves-light btn-small card-panel col s2 l1" id="lastpassword">확인</a>
                    <div class="input-field col s10 l11 none">
                        <input placeholder="새로 사용할 비밀번호를 입력해주세요"" id="NEW" type="text" name="NEW">
                        <label for="NEW">New password</label>
                    </div>
                    <button class="none waves-effect waves-light btn-small card-panel col s2 l1" id="newpassword"
                    type="submit">변경</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            당신의 삶을 편리하게! <br>
            스마트 도어락에 관한 모든 문의사항은 송호중학교 3학년 김은교에게 문의주시기 바랍니다. <br>
            tel : 010 - 4580 - 5306 , Email : eungyo307@naver.com / eungyo307@gmail.com
        </div>
    </div>

    <script>
        if(window.location.href.slice(41, window.location.href.length) == 'bad'){
            alert('비밀번호에 연속된 글자를 사용하실 수 없습니다.')
        }
        let lastpassword = document.getElementById('lastpassword')
        lastpassword.addEventListener('click', checklpw)

        function checklpw() {
            let xhr = new XMLHttpRequest()
            xhr.open('POST', 'http://192.168.0.24:3000/login/checkLtpw')
            xhr.setRequestHeader('Content-type', 'application/json')
            xhr.onreadystatechange = () => {
                if (xhr.status === 200 && xhr.readyState === 4) {
                    let text = JSON.parse(xhr.responseText).message
                    rg(text)
                }
            }
            xhr.send(JSON.stringify({
                usedpassword: document.getElementById('usedpassword').value,
                userid: document.getElementById('usedid').value
            }))
        }
        function rg(value){
            if(value == 'good'){
                lastpassword.style.backgroundColor = '#00e676'
                lastpassword.innerHTML = '인증됨'
                document.getElementById('NEW').parentElement.classList.remove('none')
                document.getElementById('newpassword').classList.remove('none')
            }
            else if(value = 'bad'){
                lastpassword.innerHTML = '틀림'
                lastpassword.style.backgroundColor = '#ff1744'
                document.getElementById('NEW').parentElement.classList.add('none')
                document.getElementById('newpassword').classList.add('none')
            }
        }


        if (window.innerWidth <= 600) {
            document.getElementById('main').style.width = '80%'
        }
    </script>
</body>

</html>