<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <style>
        body,
        html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .nav-wrapper {
            font-family: 'Song Myung', sans-serif;
            padding: 2px;
            height: 200px;
            background-color: #353866;
        }

        .m-left {
            height: 100%;
        }

        .notice {
            background-color: #ffee58;
            height: 40px;
            border: 2px dashed black;
            padding: 5px;
            text-align: center;
            display: flex;
            width: 100%;
            font-size: 18px;
        }

        .notice:hover {
            color: red;
            cursor: pointer;
        }

        .weather {
            margin-bottom: 10px;
        }

        #today-date {
            text-align: center;
            font-size: 14px;

        }

        #t-tem,
        #t-humidity,
        #t-img {
            width: 30%;
            text-align: center;
        }

        .Info {
            font-size: 16px;
            font-weight: bold;
            padding-top: 10px;
            color: black;
        }

        .view-more {
            background-color: #353866;
            color: white
        }

        #source {
            font-size: 12px;
            font-weight: normal;
        }

        .btn,
        .etc {
            background-color: #AAABD3;
            font-weight: bold;
        }

        .btn:hover {
            background-color: #AAABD3;
        }

        #check-fv,
        #check-sv,
        #check-tv {
            float: right;
        }

        .check-video {
            height: 270px;
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
            padding: 5px;
        }

        #plus {
            float: right;
        }

        #time {
            font-size: 20px;
        }

        .guest {
            text-align: center;
            line-height: 25px;
        }

        #cloth-img {
            background-size: cover;
            background-repeat: no-repeat;
            height: 30px;
        }


        .footer {
            height: 130px;
            border-top: 1px solid black;
            text-align: center;
            padding: 40px
        }

        #video {
            width: 80%;
            border: 1px solid black;
            height: 300px;
            margin: auto;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        #chart {
            width: 80%;
            margin: auto;
        }

        .m-right {
            border-left: 1px solid black;
        }

        .blurEffect {
            filter: blur(10px);
            -webkit-filter: blur(10px);
        }

        .greet {
            width: 80%;
            margin: auto;
            text-align: center;
            height: 200px;
            font-family: '굴림';
            margin-bottom: 50px;
        }

        .open-switch {
            text-align: center;
            height: 150px;
            width: 80%;
            margin: auto
        }

        .stop {
            height: 100px;
            width: 80%;
            margin: auto;
            text-align: center;
        }

        #face {
            border-radius: 80%;
            border: 1px solid black;

        }

        .sidenav {
            font-family: 'Nanum Myeongjo', serif;
        }
    </style>
</head>

<body>
    <!-- 타이틀 -->
    <nav>
        <div class="nav-wrapper">
            <a href="/G-ViLock" class="brand-logo center">VILOCK</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/login">로그인</a></li>
                <li><a href="/register">회원가입</a></li>
            </ul>
        </div>
    </nav>

    <!-- 경고창 -->
    <div class="notice">
        <img src="/public/images/사이렌.jpg" height="100%" alt="" class='siraen'>
        <marquee direction="right" scrollamount="10">
            <i class="material-icons">sentiment_very_satisfied</i>
            <i class="material-icons">sentiment_very_dissatisfied</i>
            <<--실시간 영상 확인하기-->>
                <i class="material-icons">sentiment_very_dissatisfied</i>
                <i class="material-icons">sentiment_very_satisfied</i>
        </marquee>
        <img src="/public/images/사이렌.jpg" height="100%" alt="" class='siraen'>

    </div>

    <!-- 좌측열 -->
    <div class="row">
        <div class="m-left col l2 hide-on-med-and-down">
            <!-- 날씨 -->
            <span class="Info">오늘의 날씨 <span id="source">Open Weather Map</span></span>
            <table class="weather">
                <tr>
                    <th id="today-date" colspan="3"></th>
                </tr>
                <tr>
                    <th>기온</th>
                    <td id="t-tem"></td>
                    <td id='t-img'>
                        <img src="" alt="" id="w-img">
                    </td>
                </tr>
                <tr>
                    <th>습도</th>
                    <td id="t-humidity" colspan="2"></td>
                </tr>
                <tr>
                    <td id='cloth-img' colspan="3">
                    </td>
                </tr>
            </table>
            <!-- 손님 확인 -->
            <div class="guest">우리집에 누가 가장많이왔을까? <br> 궁금하지 않아? <br>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">당연하지</a>
            </div>
            <div id="modal1" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>과연 우리집에 누가 많이왔을까?</h4>
                    <table>
                        <tr>
                            <template>
                                <td>
                                    <img src="" alt="" id="user_profile">
                                </td>
                                <td>
                                    <span id="name"></span>
                                    <span id="email"></span>
                                    <span id="phone_number"></span>
                                </td>
                            </template>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col l10 m-right s12 blurEffect">
            <div class="greet">
                실적물 제작 의도 작성공간
            </div>
            <div class="open-switch">
                버튼
            </div>
            <table class="check-video">
                <tr class="view-more">
                    <th id="time"></th>
                    <td id="plus"><a class="btn-floating waves-effect waves-light btn" href="#!"><i
                                class="material-icons">add</i></a></td>
                </tr>
                <!-- 영상 정보(시간) -->
                <tr>
                    <td id="first-video">시간</td>
                    <td><a class="waves-effect waves-teal btn" id="check-fv">영상 확인하기</a></td>
                </tr>
                <tr>
                    <td id="second-video">시간</td>
                    <td><a class="waves-effect waves-teal btn" id="check-sv">영상 확인하기</a></td>
                </tr>
                <tr>
                    <td id="third-video">시간</td>
                    <td><a class="waves-effect waves-teal btn" id="check-tv">영상 확인하기</a></td>
                </tr>
            </table>

            <div id='chart'><canvas id="myChart"></canvas></div>

            <div id="video">
                <img src="" id="video_src">
            </div>
            <div class="stop">
                <img src="../public/images/자물쇠.png" alt="yee" width="100px" id="key">
            </div>
            <!-- 바닥 -->
            <div class="footer">
                당신의 삶을 편리하게! <br>
                스마트 도어락에 관한 모든 문의사항은 송호중학교 3학년 김은교에게 문의주시기 바랍니다. <br>
                Tel : 010 - 4580 - 5306 , Email : eungyo307@naver.com / eungyo307@gmail.com
            </div>
        </div>
    </div>

    <script>
        let today_date = document.getElementById("today-date")
        let t_humidity = document.getElementById('t-humidity')
        let date = new Date()
        today_date.innerHTML = date.getMonth() + 1 + '월' + '  ' + date.getDate() + '일'
        let time = document.getElementById('time')
        time.innerHTML = date.getMonth() + 1 + '월' + '  ' + date.getDate() + '일' + ' ' + '영상확인'
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        let xhr = new XMLHttpRequest()

        xhr.open('GET',
            'https://api.openweathermap.org/data/2.5/weather?q=Ansan&appid=894ed0de092608f164b8f5e50e7f09d3')
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let data = xhr.responseText
                data = JSON.parse(data)
                let temp = data.main.temp - 273.15
                temp = temp.toFixed(1)
                let t_tem = document.getElementById('t-tem')
                t_tem.innerHTML = temp + ' ' + '°C'
                t_humidity.innerHTML = data.main.humidity + '%'
                let cloth_img = document.getElementById('cloth-img')
                //기온별 옷차림
                if (temp < 4) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(4도).jpg')"
                } else if (temp >= 4 && temp <= 8.9) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(5-8도).jpg')"
                } else if (temp >= 9 && temp <= 11.9) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(9-11도).jpg')"
                } else if (temp >= 12 && temp <= 16.9) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(12-16도).jpg')"
                } else if (temp >= 17 && temp <= 19.9) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(17-19도).jpg')"
                } else if (temp >= 20 && temp <= 22.9) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(20-22도).jpg')"
                } else if (temp >= 23 && temp <= 27.9) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(23-27도).jpg')"
                } else if (temp >= 28) {
                    cloth_img.style.backgroundImage = "url('/public/images/기온별 옷차림(28도).jpg')"
                } //기온별 옷차림
                //날씨 이모티콘
                let w_img = document.getElementById('w-img')
                if (data.weather[0].description == "clear sky") {
                    let img = "../public/images/화창.jpg"
                    w_img.setAttribute('src', img)
                } else if (data.weather[0].description == "rain") {
                    let img = "../public/images/비.jpg"
                    w_img.setAttribute('src', img)
                } else if (data.weather[0].description == "snow") {
                    let img = "../public/images/눈.jpg"
                    w_img.setAttribute('src', img)
                } else if (data.weather[0].description == "scattered clouds") {
                    let img = "../public/images/구름.jpg"
                    w_img.setAttribute('src', img)
                } else {
                    $('#t-img').remove()
                }
            }
        }
        xhr.send()



        //chart
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: ['5시간전', '4시간전', '3시간전', '2시간전', '1시간전'],
                datasets: [{
                    label: '현관문의 흔들림',
                    borderColor: '#353866',
                    backgroundColor: '#AAABD3',
                    pointBackgroundColor: '#353866',
                    lineTension: 0.1,
                    data: [0, 10, 5, 2, 20, 30, 45],
                }, ]
            },


            // Configuration options go here
            options: {
                title: {
                    display: true,
                    text: '우리집이 안전한가?'
                },
            }
        });


        //경보창
        let siraen = document.querySelectorAll('.siraen')

        function change_img() {
            for (let i = 0; i < 2; i++) {
                siraen[i].removeAttribute('src')
                siraen[i].setAttribute('src', '/public/images/사이렌2.jpg')
                setTimeout(() => {
                    siraen[i].removeAttribute('src')
                    siraen[i].setAttribute('src', '/public/images/사이렌.jpg')
                }, 250);
            }
        }
        setInterval(() => {
            change_img()
        }, 500);


        let m_right = document.querySelector('.m-right')
        m_right.addEventListener('click', _alert)
        function _alert(){
            alert('로그인을 하셔야 이용 가능합니다')
        }
    </script>
</body>

</html>
