<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VILOCK-guest</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body,
        html,
        .main {
            height: 100%;
            width: 100%;
        }

        .left {
            height: 100%;
            font-family: 'Lato', sans-serif;
            border: 1px solid gray;
            width:100%
        }

        .title {
            font-family: 'Song Myung', sans-serif;
            text-align: center;
            font-size: 35px;
            height: 70px;
            background-color: #353866;
            color: white;
            line-height: 70px;
            width: 100%;
        }

        .greet {
            height: 150px;
            line-height: 30px;
            font-size: 16px;
            margin-top: 10%
        }

        .login {
            height: 250px
        }

        #Tologin {
            margin: auto;
            width: 80%
        }


        #inform {
            font-size: 15px
        }

        #register {
            background-color: #5868A8;
            font-size: 15px;
            font-weight: bold;
        }

        #login {
            background-color: #353866;
            font-size: 15px;
            font-weight: bold;
        }

        .mobile-font {
            font-size: 12px;
        }

        .hide {
            display: none;
        }

        .sides {
            width: 70%;
            margin: 20% auto 20% auto;
            text-align: center;
            padding: 20% 0 20% 0;
            height: 50%;
            border: 1px solid #353866
        }

        .view {
            cursor: pointer;
        }
        #inputs{
            width:60%;
            margin:auto
        }
        #findpassword{
            background-color: #353866;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="title brand-logo">
            VILOCK
        </div>
        <div style="width:60%; margin:auto; height:100%;" id='main'>
            <div class="left row">
                <div class="greet col s12 l12">
                    <div style="width: 80%; margin:auto">
                        환영합니다 <br>
                        <span style="font-family: 'Song Myung', sans-serif;">VILOCK</span>은 기존의 도어락보다 <br> 뛰어난 성능을 지닙니다
                        <br>
                        사용하세요 더욱 편한 삶을 살아가게될겁니다
                    </div>
                </div>
                <div class="login col s12 l12 row my-wrapper valign-wrapper center-align">
                    <form id="Tologin" method="POST" action="/login/checkIn">
                        <div class="input-field">
                            <input placeholder="아이디를 입력하세요" id="ID" type="text" class="validate" name="userid">
                            <label for="ID">ID</label>
                        </div>
                        <div class="row input-field">
                            <div class="input-field col s10 l11">
                                <input id="hidepassword" type="password" class="validate" name="userpassword">
                                <label for="password">Password</label>
                            </div>
                            <div class="col s2 l1 input-field"><img src="../public/images/visibility.png" class="view"
                                    width="30px" style="float:left"></div>
                        </div>
                        <a class="waves-effect waves-light btn-small card-panel" id="register" href="/register">회원가입</a>
                        <button class="waves-effect waves-light btn-small card-panel" id="login"
                            type="submit">로그인</button>
                            <br>
                            <label for="">비밀번호를 잊으셨나요? 그렇다면 <a style="color:blue; font-weight: bold; font-size: 13; cursor:pointer" class="modal-trigger" href="#modal1">여기</a> 를 클릭해주세요</label>
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4>임시 비밀번호 받기</h2>
                                    <div id="inputs">
                                        <div class="row">
                                            <input type="text" placeholder="이름을 입력해주세요" id="fname" class="col s12 l12">
                                            <input type="text" placeholder="아이디를 입력해주세요" id="fid" class="col s12 l12">
                                        <input type="text" placeholder="이메일주소를 입력해주세요" id="femail" class=" col s8 l8">
                                        <select class="browser-default col s4 l4" id='address'>
                                            <option value="" disabled selected>이메일</option>
                                            <option value="naver.com">@naver.com</option>
                                            <option value="hanmail.net">@hanmail.net</option>
                                            <option value="gamil.com">@gmail.com</option>
                                            <option value="alone">직접입력</option>
                                          </select>
                                        </div>
                                        <a class="waves-effect waves-light btn-small card-panel input-field" id="findpassword">확인</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
     $(document).ready(function(){
        $('.modal').modal();
    });

    document.getElementById('findpassword').addEventListener('click',()=>{
        let xhr = new XMLHttpRequest()
        xhr.open('POST', 'http://192.168.0.24:3000/login/findpassword')
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.onreadystatechange = ()=>{
            if(xhr.status ===200 && xhr.readyState === 4){
                console.log(JSON.parse(xhr.responseText))
            }
        }
        xhr.send(JSON.stringify({
            name : document.getElementById('fname').value,
            id:document.getElementById('fid').value,
            email:document.getElementById('femail').value,
        }))
        window.location.href = 'http://192.168.0.24:3000/'
       })

    let address = document.getElementById('address')
    address.addEventListener('change', write)
    let email = document.getElementById('femail')
    function write() {
      if (address.value == "alone") {
        address.style.display = "none"
      } else {
        let email_v = email.value
        email_v = email_v.split('@')[0]

        email.value = email_v + '@' + address.value
      }
    }

    let hidepassword = document.getElementById('hidepassword')

    let viewpassword = document.querySelector('.view')
    let idx = 0
    viewpassword.addEventListener('click', () => {
        if (idx == 0) {
            hidepassword.removeAttribute('type')
            viewpassword.removeAttribute('src')
            viewpassword.setAttribute('src', '../public/images/invisible.png')
            idx++
        }
        else if (idx == 1) {
            hidepassword.setAttribute('type', 'password')
            viewpassword.removeAttribute('src')
            viewpassword.setAttribute('src', '../public/images/visibility.png')
            idx = 0
        }
    })
    let greet = document.querySelector('.greet')
    if(window.innerWidth < 600){
        greet.style.fontSize = '12px'
        document.getElementById('main').style.width = '80%'
    }

</script>

</html>